---
import { SiteGraphqlPrefix } from '~/config';
import EducationalWork from '~/features/landing_template/sections/EducationalWork.astro';
import OurDay from '~/features/landing_template/sections/OurDay.astro';
import OurHouse from '~/features/landing_template/sections/OurHouse.astro';
import OurTeam from '~/features/landing_template/sections/OurTeam.astro';
import QuickFacts from '~/features/landing_template/sections/QuickFacts.astro';
import RegisterNow from '~/features/landing_template/sections/RegisterNow.astro';
import { fetchLandingContent } from '~/features/landing_template/services/ContentService';
import { fetchDay } from '~/features/landing_template/services/DayService';
import { fetchEducationParagraphs } from '~/features/landing_template/services/EducationService';
import { fetchQuickFacts } from '~/features/landing_template/services/QuickFactService';
import { fetchTeamMembers } from '~/features/landing_template/services/TeamService';

interface Props {
  sitePrefix: SiteGraphqlPrefix;
  house: {
    image: string;
  };
  educationalWork: {
    backgroundImage: string;
    headerImage: string;
    footerImage: string;
  };
}

const { sitePrefix, house, educationalWork } = Astro.props;

const facts = await fetchQuickFacts(sitePrefix);
const content = await fetchLandingContent(sitePrefix);
const teamMembers = await fetchTeamMembers(sitePrefix);
const educationParagraphs = await fetchEducationParagraphs(sitePrefix);
const day = await fetchDay(sitePrefix);
---

<QuickFacts facts={facts} />
<OurHouse content={content} {...house} />
<OurTeam teamMembers={teamMembers} />
<EducationalWork content={content} paragraphs={educationParagraphs} {...educationalWork} />
<div class="page-container">
  <OurDay day={day} content={content} />
</div>
<RegisterNow content={content} />
