---
import If from '~/components/common/If.astro';
import { ROUTES } from '~/config';

interface Props {
  links?: { label: string; url: string }[];
}

const { links } = Astro.props;

const currentYear = new Date().getFullYear();
---

<div class="bg-primary-600 text-white w-full rounded-t-2xl p-10 lg:py-10 lg:px-20">
  <div class="lg:flex lg:justify-between lg:items-center lg:mb-10">
    <h3 class="text-body-lg mb-5 lg:text-body-xl lg:mb-0">{'footer.header'.tr()}</h3>
    <ul class="flex space-x-5 text-body-no lg:text-body-md mb-7 lg:mb-0 text-secondary-100">
      <li><a href={ROUTES.privacy}>{'footer.privacy'.tr()}</a></li>
      <li><a href={ROUTES.imprint}>{'footer.imprint'.tr()}</a></li>
      <li><a href={ROUTES.contact}>{'footer.contact'.tr()}</a></li>
    </ul>
  </div>
  <hr class="mb-7 border-primary-100 opacity-30 border-t-2" />

  <div class="lg:flex lg:justify-between lg:items-center">
    <If condition={links != null}>
      <ul slot="if" class="mb-10 space-y-3 lg:flex lg:space-y-0 lg:gap-5 lg:mb-0">
        {
          links.map((link) => (
            <li>
              <a href={link.url}>{link.label}</a>
            </li>
          ))
        }
      </ul>
    </If>

    <p
      class="text-body-sm lg:text-right lg:text-body-md"
      set:html={'footer.copyright'.tr({ values: [currentYear] })}
    >
    </p>
  </div>
</div>
