---
import { Icon } from 'astro-icon';

interface Props {
  routeMapUrl: string;
  fullMapUrl: string;
  label: string;
  address: string;
}

const { routeMapUrl, fullMapUrl, label, address } = Astro.props;
---

<div class="relative">
  <a
    id="map"
    class="block h-[350px]"
    href={fullMapUrl}
    target="_blank"
    rel="noopener noreferrer"
    underline-hover="false"
  >
  </a>
  <div
    class="bg-white text-primary-700 p-5 absolute bottom-5 left-5 rounded-lg shadow-lg flex lg:gap-10"
  >
    <div>
      <div class="font-bold text-body-no lg:text-body-md">{label}</div>
      <div class="text-body-sm lg:text-body-no mb-3 lg:mb-10">{address}</div>
      <a class="text-secondary-700" href={fullMapUrl} target="_blank" rel="noopener noreferrer">
        {'footer.bigger_map'.tr()}
      </a>
    </div>
    <a
      class="flex flex-col items-center gap-1 text-secondary-700"
      href={routeMapUrl}
      target="_blank"
      rel="noopener noreferrer"
      underline-hover="false"
    >
      <Icon name="fa-solid:route" class="w-5 h-5 lg:w-6 lg:h-6" />
      <span class="text-body-sm lg:text-body-no">{'footer.route_planner'.tr()}</span>
    </a>
  </div>
</div>

<style>
  #map {
    background-image: url('/me_map.png');
    background-position: center;
    background-size: cover;
  }
</style>
