---
import { Image } from '@astrojs/image/components';
import { ROUTES } from '~/config';
import { findImage } from '~/utils/images';

interface Props {
  id: string;
  title: string;
  publishDate: string;
  image: string;
  readingTime: string;
}

const { id, title, publishDate, image, readingTime } = Astro.props;

const imageSrc = await findImage(image);
---

<a
  class="flex space-x-3 w-full h-[105px] text-primary-600 cursor-pointer hover:scale-[1.03] transition-transform"
  underline-hover="false"
  rel="prefetch"
  href={`${ROUTES.articles}/${id}`}
>
  <Image src={imageSrc} width="120" height="105" alt="article image" class="rounded-lg shadow-lg" />

  <div class="h-full w-full flex flex-col justify-between text-body-no lg:text-body-md">
    <span class="clamp-3">
      {title}
    </span>
    <span class="text-primary-200 flex">
      {publishDate} ~ {readingTime} min
    </span>
  </div>
</a>
