---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/ArticleHeader.astro';
import Footer from '~/components/widgets/footer/Footer.astro';
import { Meta } from '~/components/core/MetaTags.astro';

interface Props {
  meta?: Meta;
  publishDate?: string;
  readingTime?: string;
}

const { meta, publishDate, readingTime } = Astro.props;
---

<Layout meta={meta}>
  <Header
    title={meta.title}
    desc={meta.description}
    publishDate={publishDate}
    readingTime={readingTime}
  />
  <main
    class="w-full prose-sm prose-a:text-secondary-700 max-w-[75rem] mx-auto py-10 px-8 lg:w-3/4 lg:prose-xl lg:py-20"
  >
    <slot />
  </main>
  <Footer />
</Layout>
