---
import '~/utils/localization';
import { ROUTES } from '~/config';

interface Props {
  title: string;
  desc: string;
  publishDate: string;
  readingTime: string;
}

const { title, desc, publishDate, readingTime } = Astro.props;
---

<header
  class="py-10 rounded-b-2xl bg-primary-600 text-white flex items-center justify-center lg:py-24"
>
  <div class="max-w-[75rem] w-full px-8 flex flex-col-reverse lg:flex-col lg:w-3/4">
    <ul class="flex justify-start mb-10 text-body-md space-x-5 lg:justify-end lg:text-body-lg">
      <li><a href={ROUTES.home}>{'header.home'.tr()}</a></li>
      <li><a href={ROUTES.mechterstaedtLanding}>{'header.mechterstaedt'.tr()}</a></li>
      <li><a href={ROUTES.teutlebenLanding}>{'header.teutleben'.tr()}</a></li>
    </ul>
    <div class="mb-10">
      <span class="text-primary-100">
        {publishDate} ~ {readingTime} min
      </span>
      <h1 class="text-header-md font-bold mb-5 lg:text-header-lg">{title}</h1>
      <p class="text-body-md text-primary-100 lg:text-body-lg">{desc}</p>
    </div>
  </div>
</header>
